<div class="container">
  <h3>Here is how to use this app :</h3>
  <ol>
    <li>First, register a new user by clicking on Register and completing the form</li>
    <li>Then just navigate to the login page and login with that user</li>
    <li>Ensure that you can now access the User profile section</li>
    <li>Click on logout in the navigation bar</li>
    <li>Now try to access User Profile to see if you have access to it</li>
  </ol>
  <div class="col-md-6 mx-auto mt-4">
    <p class="small">Coded by :</p>
    <ul class="list-group">
      <li class="list-group-item">Sebastien Bourgeois</li>
      <li class="list-group-item">Jonathan Samson</li>
      <li class="list-group-item">Eya Ben Sebt</li>
    </ul>
  </div>
</div>