<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to lab 8</h1>
    <p class="lead">Start by creating a user in the register tab up here</p>
    <a href="/register" class="btn btn-dark btn-lg">Register now</a>
  </div>
</div>