<div class="container">
  <div class="card text-center">
    <div class="card-header">
      User Profile
    </div>
    <div class="card-body">
      <h3>You have access to this ressource because you're cool</h3>
      <p class="lead">Now try to log out and see if you're still cool...</p>
      <a href="/logout" class="btn btn-dark btn-lg">Logout</a>
    </div>
  </div>
</div>